* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 120.125rem;
  max-height: 67.5rem;
  min-width: 11.875rem;
  min-height: 5.625rem;
  border: 0.0625rem solid #e62b75;
  background-color: #fff;
  overflow: hidden;
}

.woman {
  position: absolute;
  width: 58.9814814815%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: url("../img/woman_back_blur.png") left bottom/contain no-repeat;
}

.top-bg {
  position: absolute;
  width: 100%;
  height: 40%;
  top: 0;
  left: 0;
  background: url("../img/top-cover.png") bottom/cover no-repeat;
}

.logo {
  position: absolute;
  width: 33.7962962963%;
  height: 8%;
  top: 3%;
  left: 22%;
  background: url("../img/logo.png") center/contain no-repeat;
}

.top-content {
  position: absolute;
  width: 53.4259259259%;
  height: 18%;
  top: 12%;
  left: 12%;
  background: url("../img/text.png") center/contain no-repeat;
}

.innovation {
  position: absolute;
  z-index: 3;
  width: 35%;
  height: 10%;
  top: 2%;
  right: 0;
  background: url("../img/text-fill-top.png") right/contain no-repeat;
}

.product {
  position: absolute;
  width: 37.962962963%;
  height: 80%;
  right: 4%;
  bottom: 5%;
  background: url("../img/front.png") center/contain no-repeat;
}

.bottom {
  position: absolute;
  width: 100%;
  height: 12%;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.49);
}

.bottom__bottom {
  position: absolute;
  width: 99%;
  height: 95%;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: url("../img/bottom-text.png") bottom/100% 100% no-repeat;
}

body {
  background-color: #fff;
}

@media screen and (orientation: portrait) {
  .woman {
    width: 100%;
    background-image: url("../img/woman_back_blur_2.png");
  }

  .top-bg {
    height: 48%;
    background-image: url("../img/top-cover_2.png");
  }

  .logo {
    height: 11%;
    top: 12%;
    left: 21%;
    width: 51.5%;
  }

  .top-content {
    width: 82%;
    height: 9%;
    top: 21%;
    left: 6%;
    background-image: url("../img/text_2.png");
  }

  .innovation {
    width: 60%;
  }

  .product {
    width: 65.833333%;
    height: 38.5%;
    right: 2%;
    bottom: 16%;
    background-image: url("../img/front_2.png");
  }

  .bottom {
    height: 12%;
  }

  .bottom__bottom {
    background-image: url("../img/bottom-text_2.png");
  }
}

@media screen and (orientation: portrait) and (min-aspect-ratio: 1/2) {
  .woman {
    width: 90%;
  }

  .top-bg {
    height: 35%;
  }

  .logo {
    height: 11%;
    top: 1%;
    left: 17%;
    width: 51.5%;
  }

  .top-content {
    width: 81.1666666667%;
    height: 14.8333333333%;
    top: 12%;
    left: 4%;
  }

  .innovation {
    width: 30%;
    background-image: url("../img/text-fill-top_2.png");
  }

  .product {
    width: 52.8333333333%;
    height: 70.5%;
    right: 2%;
    bottom: 2%;
  }

  .bottom {
    height: 12%;
  }
}

@media (min-aspect-ratio: 10/3) {
  .woman {
    width: 100%;
    height: 120%;
  }

  .top-bg {
    height: 60%;
  }

  .logo {
    width: 33.796296%;
    height: 10%;
    top: 3%;
    left: 22.5%;
  }

  .top-content {
    width: 30.425926%;
    height: 20%;
    top: 18%;
    left: 23.5%;
  }

  .innovation {
    top: 4%;
    width: 20%;
    height: 20%;
  }

  .product {
    width: 35.962963%;
    height: 91%;
    right: 11%;
    bottom: 5%;
  }
}

@media (min-aspect-ratio: 20/3) {
  .woman {
    width: 100%;
  }

  .top-bg {
    height: 82%;
  }

  .logo {
    width: 32.796296%;
    height: 14%;
    top: 10%;
    left: 22.5%;
  }

  .top-content {
    width: 30.425926%;
    height: 28%;
    top: 31%;
    left: 23.5%;
  }

  .innovation {
    top: 4%;
    width: 20%;
    height: 29%;
  }

  .product {
    width: 35.962963%;
    height: 93%;
    right: 12%;
    bottom: 5%;
  }
}